body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
  padding-top: 100px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 200px;
}

button {
  padding: 8px 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: blue;
}
